# Build & Temporary Files
.gradle/
.kotlin/
kotlin-js-store/
android/kotlin-js-store/
build/
composeApp/build/
*.apk
*.aab

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE Files
.idea/
*.iml
.vscode/

# Local configuration
local.properties
